# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
local_settings.py
media/

# Virtual environments
venv/
env/
.env

# VS Code
.vscode/

# Distribution / build
dist/
build/
*.egg-info/
