option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: phonestore.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: phonestore.settings
    PYTHONPATH: /var/app/current

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true
  02_seed_data:
    command: "source /var/app/venv/*/bin/activate && python seed_data.py"
    leader_only: true
  03_set_permissions:
    command: "chmod 777 db.sqlite3 && chmod 777 ."
